.questionContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttonContainer {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonContainer button {
  border: none;
  outline: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.buttonContainer button:first-child {
  background-color: rgba(26, 188, 156, 1);
}
.buttonContainer button:last-child {
  background-color: rgba(52, 152, 219, 1);
}
@media screen and (max-width: 425px) {
  .questionContainer {
    justify-content: space-evenly;
  }
  .buttonContainer {
    justify-content: space-around;
  }
}
